
.center {
  margin: auto;
  margin-bottom: 2em;
}

.flexbox {
  display: flex;
  justify-content: space-around;
  margin-left: 100px;

}

.flexbox img {
  height: 40vh;
  width: 50vw;
  /* margin: 2vw; */
}


.aboutPage {
  display: flex;
  flex-direction: row;
  width: 90vw;
  padding: 2vw;
  margin: auto;
}

.aboutPage img {
  width: 40vw;
  height: 60vh;
  padding: 2vw;
}


.navbar img {
  height: 60vh;
  width: 80vw;
}

.button {
  border: 1px solid rgb(177, 172, 172); 
  font-size: 10px;
  background-color: rgb(235, 228, 228);
  color: grey;
  position: absolute;
  right: 5px;
  top: 5px;
}

.buttonDetails {
  margin-top: 2vh;
  padding-left: 4vw;
  padding-right: 4vw;
}

.bg-footer {
  background-color: #020100;
  color: white;

}

.header {
  background-color: #beb8aa;
  height: 60vh;
  display: flex;
  flex-direction: column;
  background-image: url("https://cdn.autotrader.co.nz/at-listing/files/30/0/fc973591-b763-4ac3-a535-075209dc7b6f.jpg?sv=2018-03-28&sr=b&sig=gVVXmLm%2FqLwWqDHCu1ZnqK8wfZKeRhD5GVW3WQzBktQ%3D&se=2041-08-16T01%3A05%3A15Z&sp=r ");
  background-size: auto;
}

.search-left {
  padding-bottom: 20px;
  padding-top: 20px;
}

.login {
  border: 2px solid rgb(201, 196, 196);
  width: 30vw;
  padding: 3vw;
  border-radius: 20px;
}

.small-nav {
  background-color: #e0dcdc;
  border-radius: 10px 10px 0 0;
  margin-bottom: -200px;
  
}

.navbar-title {
  height: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navbar-title span {
  font-size: 8vh;
  /* margin-top: -10px; */
  font-family: fantasy;
  color: rgb(12, 12, 204);
  font-weight: 900;
  margin: 3vh;
  border: 5px solid rgb(71, 69, 77);
  border-radius: 20px;
}

.navbar-title h5 {
  color: rgb(101, 118, 216);
  font-size: 10vh;
  font-weight: 500;
}

.f-span {
  font-size: 50px;
  font-family: fantasy;
  color: rgb(12, 12, 204);
  font-weight: 900;
  border: 3px solid rgb(26, 25, 25);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
}

.home-title {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.search {
  width: 40vw;
  text-align: center;
  margin-bottom: 4vh;
}

.services {
  border: 1px solid rgb(173, 171, 171);
  width: 80vw;
  margin: auto;
  margin-top: 7vh;
  margin-bottom: 10vh;
  padding: 3vw;
}

.services h2{
  color: rgb(9, 9, 145);
  padding: 10px;

}